@import "~bootstrap/scss/bootstrap";

.home {
  margin-top: 30px;
}

.home-ul {
  margin-top: 30px;
}

.saga-button {
  margin-top: 30px;
}

.saga-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile {
  margin-top: 30px;
}

.about {
  margin-top: 30px;
}
